<section class="hero-section">
    <h1 class="headline">
        <span class="headline-part">
            <span class="special">Type </span> the stitch
        </span>
        <span class="headline-part">
            <span class="special">Create </span><span>the pattern</span>
        </span>
    </h1>
    <p class="about">
        Create your pattern.
        Save favorite crafts, 
        stock your stash, 
        share standout designs, 
        set the soundtrack,
        and scroll as you crochet.
    </p>
    <button class="start-button button-pill">Create your pattern</button>
</section>
