/* Layout */
nav {
    display: flex;
    padding: 0 1.5em;
}

.nav-bar {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 0.4em;
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Modes */
nav.landing {
    height: 6vh;
    max-height: 100px;
    min-height: 70px;
}

nav.dashboard {
    height: 3.5vh;
    max-height: 75px;
    min-height: 55px;
}

/* Links */
.logo {
    margin-right: auto;
    font-family: 'Fredoka', cursive;
    font-size: 1.6rem;
    cursor: pointer;
}

.nav-link {
    min-width: 100px;
    height: 100%;
    font-size: 0.85rem;
    text-align: center;
    font-weight: 500;
}

.nav-link a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* Buttons */
.nav-button {
    width: 2.25em;
    height: 2.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.25em;
    border: 1.5px solid rgb(from var(--primary-color) r g b / 35%);
    border-radius: 100%;
    cursor: pointer;
}

.nav-button svg {
    stroke-width: 1.75px;
    width: 1.15em;
    color: var(--primary-color);
    opacity: 0.9;
}

/* Variants */
.get-started {
    min-width: 107px;
    display: flex;
    align-items: center;
    margin-left: 1em;
    font-size: 0.8em;
}

.get-started a {
    height: 35px;
    padding: 0.75em 1.3em;
    border-radius: 20px;
    background: var(--primary-color);
    color: var(--white);
    cursor: pointer;
}

.shadow {
    box-shadow: 0px 0px 5px lightgray;
}

/* Dashboard Override */
nav.dashboard .logo {
    font-size: 1.4rem;
}

nav.dashboard .nav-link {
    min-width: 80px;
    font-size: 0.8em;
    opacity: 0.7;
}
