<nav [class]="mode() + shadow()">
    <ul class="nav-bar">
        <li class="logo">
            <a routerLink="">typechet</a>
        </li>
        @for (item of data(); track item.label) {
            @if (item.kind == "link") {
                <li [class]="'nav-link ' + (item.class ?? '')">
                    <a [routerLink]="item.path">{{ item.label }}</a>
                </li>
            }
            @else if (item.kind == "button") {
                <li [class]="'nav-button ' + (item.class ?? '')">
                    <svg [lucideIcon]="item.icon"></svg>
                </li>
            }
        }
    </ul>
</nav>
