nav {
    display: flex;
    padding: 1em 2em;
    box-shadow: 0px 0px 5px lightgray;
}

.nav-bar {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.4em;
    margin: 0;
    padding: 0;
    list-style: none;
}

.logo {
    margin-right: auto;
    padding-right: 3em;
    font-family: 'Fredoka', cursive;
    font-size: 1.6rem;
    cursor: pointer;
}

.nav-item {
    min-width: 100px;
    font-size: 0.85rem;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
}

.get-started {
    margin-left: 1em;
}