<aside class="sidebar">
    <ul class="sidebar-list">
        <li class="sidebar-item">
            <a href="">
                <svg lucideLayoutDashboard class="dashboard-icon"></svg>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="">
                <svg lucideBookDashed class="dashboard-icon"></svg>
                <span>Patterns</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="">
                <svg lucideCompass class="dashboard-icon"></svg>
                <span>Trackers</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="">
                <svg lucideSpool class="dashboard-icon"></svg>
                <span>Stitches</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="">
                <svg lucideShelvingUnit class="dashboard-icon"></svg>
                <span>Inventory</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="">
                <svg lucideMusic class="dashboard-icon"></svg>
                <span>Music</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="">
                <svg lucideSettings class="dashboard-icon"></svg>
                <span>Settings</span>
            </a>
        </li>
    </ul>
</aside>