<aside class="sidebar">
    <ul class="sidebar-list">
        <li class="sidebar-item">
            <div>
                <svg lucideLayoutDashboard class="dashboard-icon"></svg>
                <a href="">Dashboard</a>
            </div>
            <div>
                <svg lucideNotebook class="dashboard-icon"></svg>
                <a href="">Patterns</a>
            </div>
            <div>
                <svg lucideSpotlight class="dashboard-icon"></svg>
                <a href="">Trackers</a>
            </div>
            <div>
                <svg lucideMusic class="dashboard-icon"></svg>
                <a href="">Music</a>
            </div>
            <div>
                <svg lucideSettings class="dashboard-icon"></svg>
                <a href="">Settings</a>
            </div>
        </li>
    </ul>
</aside>