:host {
    --sidebar-link-margin: 0.65rem;
    --sidebar-link-padding: 0.4rem;
    --sidebar-icon-size: 1.25rem;

    --sidebar-collapsed-width: calc(
        (var(--sidebar-link-margin) * 2) +
        (var(--sidebar-link-padding) * 2) +
        var(--sidebar-icon-size)
    );
}

/* Layout */
.sidebar-list {
    width: var(--sidebar-collapsed-width);
    min-height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 1em 0;
    list-style: none;
    box-shadow: 0px 1px 3px lightgray;
    transition: width 0.2s ease-out;
}

/* Links */
.sidebar-item a {
    display: flex;
    gap: 1em;
    align-items: center;
    margin: var(--sidebar-link-margin);
    padding: var(--sidebar-link-padding);
    border-radius: 10px;
    color: var(--light-black);
    opacity: 0.9;
}

.sidebar-item a span {
    font-size: 0.9rem;
    overflow: hidden;
    white-space: nowrap;
}

/* Icons */
.dashboard-icon {
    width: var(--sidebar-icon-size);
    color: var(--primary-color);
    flex-shrink: 0;
}

/* Animations */
.sidebar-list:hover {
    width: 13.5rem;
}